<!DOCTYPE HTML>
<head>
		<title>TUP E-LEARNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body class="is-preload">

		<!-- Header -->
		<nav>
			<header id="header">
				<div class="topnav">
					<a href="home.html">Home</a>
					<a href="">About Us</a>
					<a href="contactus.html">Contact Us</a>
					</div>
					<div class="topnav-right">
						<a href="">Sign Out</a>
					</div>
			</header>
		</nav>
			
			<div class="sidenav">
			<img src="images/f.png" alt="Profile Picture" width="240" height="240">
			<ul class="alt">
				<li><b>RAMIREZ, JANINE B.</b></li>
				<li>15-027-036 </li>
			</ul>	
						
			<ul class="alt">
				<li><a class="active" href="stud_dashboard.html">Dashboard</a></li>
				<li><a href="stud_classes.html">Classes</a></li>
				<li><a href="#">Discussions</a></li>
				<li><a href="stud_modules.html">Modules</a></li>
			</ul>
			</div>
			</section>
			</div>	
			
 
<div class="main">
	<div class="inner">
		<header class="special">
		<h2>Dashboard</h2>
		<p>School Year: 2017-2018</p>
		</header>
		<section>
		<header class="special">
			<h3 style="color: red">Academic Calendar</h3>
		</header>
		</section>
		<section>
			<table>
				<thead>
					<tr>
						<td>Month</td>
						<td>Day</td>
						<td>Activity</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>May</td>
						<td>29 to 31</td>
						<td>2nd year and 3rd year Regular Students Subjects Enlistment</td>
					</tr>
					<tr>
						<td></td>
						<td>29 to June 9</td>
						<td>Graduate Program Students Subjects Enlistment</td>
					</tr>
					<tr>
						<td>June</td>
						<td>1, 2 and 5</td>
						<td>4th year Regular Students Subjects Enlistment</td>
					</tr>
					<tr>
						<td></td>
						<td>6 to 7</td>
						<td>5th year Regular Students Subjects Enlistment</td>
					</tr>
					<tr>
						<td></td>
						<td>8 to 9</td>
						<td>Irregular Students Subjects Enlistment</td>
					</tr>
				</tbody>
				<thead>
					<tr>
						<td style="color: red">First Semester</td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>May</td>
						<td>29</td>
						<td>Return to Service of Faculty</td>
					</tr>
						<tr>
						<td>May</td>
						<td><strong>29 to June 9</strong></td>
						<td><strong>Enrollment</strong></td>
					</tr>
					<tr>
						<td></td>
						<td>7</td>
						<td>General Faculty Meeting/Academic Council Meeting(9:00 AM)</td>
					</tr>
					<tr>
						<td></td>
						<td>12</td>
						<td>Independence Day</td>
					</tr>
					<tr>
						<td></td>
						<td><strong>13</strong></td>
						<td><strong>First Day of Classes</strong></td>
					</tr>
					<tr>
						<td>July</td>
						<td>20 to 22</td>
						<td>Preliminary Examination</td>
					</tr>
					<tr>
						<td>August</td>
						<td>31 to September 2</td>
						<td>Mid-Term Examination</td>
					</tr>
					<tr>
						<td>September</td>
						<td>8 to 9</td>
						<td>Student's Consultation Day</td>
					</tr>
					<tr>
						<td></td>
						<td>22</td>
						<td>Moratorium for Final Defense</td>
					</tr>
					<tr>
						<td>October</td>
						<td>2 to 3</td>
						<td>Final Examination (Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>9</td>
						<td>Last Day for Submission of Grades (Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>12 to 14</td>
						<td>Final Examination (Non-Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>15</td>
						<td>Semestral Break (Students)</td>
					</tr>
					<tr>
						<td></td>
						<td>18</td>
						<td>Academic Council Meeting</td>
					</tr>
					<tr>
						<td></td>
						<td>20</td>
						<td>Last Day of Submission of Grades (Non-Graduating)</td>
					</tr>
					
					<tr>
						<td></td>
						<td>23 to 27</td>
						<td>Semestral Break (Faculty)</td>
					</tr>
						<thead>
						<tr>
						<td style="color: red">Second Semester</td>
						<td></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>October</td>
						<td><strong>25 to November 3</strong></td>
						<td><strong>Enrollment</strong></td>
					</tr>
					<tr>
						<td>November</td>
						<td>1</td>
						<td>All Saints Day</td>
					</tr>
					<tr>
						<td></td>
						<td>3</td>
						<td>General Faculty Meeting(9:00 AM)</td>
					</tr>
					<tr>
						<td></td>
						<td><strong>6</strong></td>
						<td><strong>First Day of Classes</strong></td>
					</tr>
					<tr>
						<td></td>
						<td>30</td>
						<td>Bonifacio Day</td>
					</tr>
					<tr>
						<td>December</td>
						<td>6 to 8</td>
						<td>Foundation Day</td>
					</tr>
					<tr>
						<td></td>
						<td>16, 18 to 19</td>
						<td>Preliminary Examination</td>
					</tr>
					<tr>
						<td></td>
						<td>21</td>
						<td>Start of Christmas Vacation</td>
					</tr>
					<tr>
						<td></td>
						<td>25</td>
						<td>Christmas Day</td>
					</tr>
					<tr>
						<td></td>
						<td>30</td>
						<td>Rizal Day</td>
					</tr>
					<tr>
						<td>January</td>
						<td><strong>4</strong></td>
						<td><strong>Classes Resume</strong></td>
					</tr>
					<tr>
						<td>February</td>
						<td>8 to 10</td>
						<td>Mid-Term Examination</td>
					</tr>
					<tr>
						<td></td>
						<td>15 to 16</td>
						<td>Student's Consultation Day</td>
					</tr>
					<tr>
						<td></td>
						<td>24</td>
						<td>Moratorium for Final Defense</td>
					</tr>
					<tr>
						<td>March</td>
						<td>1 to 3</td>
						<td>Final Examination (Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>9</td>
						<td>Last Day of Submission of Grades (Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>14</td>
						<td>Academic Council Meeting</td>
					</tr>
					<tr>
						<td></td>
						<td>17, 19 to 20</td>
						<td>Final Examination (Non-Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td><strong>26</strong></td>
						<td><strong>Graduation Day</strong></td>
					</tr>
					<tr>
						<td></td>
						<td>27</td>
						<td>Last Day of Submission of Grades (Non-Graduating)</td>
					</tr>
					<tr>
						<td></td>
						<td>28</td>
						<td>Start of Summer Vacation</td>
					</tr>
			</table>
		</section>
	</div>	
	</div>				    
</div>
	 
</body>
</html> 


<html>
	