<!DOCTYPE HTML>
<head>
		<title>TUP E-LEARNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
		 <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/sb-admin.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
	</head>
	
	<body class="is-preload">

		<!-- Header -->
		<nav>
			<header id="header">
				<div class="topnav">
					<a href="home.html">Home</a>
					<a href="">About Us</a>
					<a href="">Contact Us</a>
					</div>
					<div class="topnav-right">
						<a href="home.html">Sign Out</a>
					</div>
			</header>
		</nav>
			
			<div class="sidenav">
			<img src="images/f.png" alt="Profile Picture" width="240" height="240">
			<ul class="alt">
				<li><b>GARCIA, MAY</b></li>
				<li>15-027-036 </li>
			</ul>	
						
			<ul class="alt">
				<li><a href="prof_dashboard.html">Dashboard</a></li>
				<li><a class="active" href="prof_classes.html">Classes</a></li>
				<li><a href="#">Discussions</a></li>
				<li><a href="prof_modules.html">Modules</a></li>
			</ul>
			</div>
			</section>
			</div>	
			<div class="main">
			<div class="inner">
				<header class="special">
					<h2>Modules</h2>
						<ul class="alt">
							<li>School Year 2017-2018</li>
							<li>Second Semester</li>
						</ul>
				</header>
				
				<div>
					<section>
					<div class="alert alert-danger">
                    	<input type="file"/>	
                	</div>	
					</section>
					</div>
					<div>
					<section>
						<input type="text" placeholder="Add Description" />	
					</section>
				</div>
				<div class="highlights">
					<section>
						<a href="#" class="button primary">Upload File</a>
					</section>
				</div>
				<div>
				<section>
					<table>
						<thead>
							<tr>
								<td>Topic ID</td>
								<td>Class ID</td>
								<td>Description</td>	
								<td>Update</td>
								<td>Delete</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td>CS322</td>
								<td>HTML.pdf</td>
								<td><a href="#" class="button primary">Edit</a></td>
							<td><a href="#" class="button default fa fa-trash"></a></td>
								</tr>
							<tr>
								<td>2</td>
								<td>CS322</td>
								<td>CSS.pdf</td>
								<td><a href="#" class="button primary">Edit</a></td>
						<td><a href="#" class="button default fa fa-trash"></a></td>
									</tr>
						</tbody>
					</table>
				</section>
				</div>
				</div>
				</div>
				</body>
				</html>