<!DOCTYPE HTML>

<html>
	<head>
		<title>TUP E-LEARNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body class="is-preload">

		<!-- Header -->
		<nav>
			<header id="header">
				<div class="topnav">
					<a href="home.html">Home</a>
					<a href="">About Us</a>
					<a href="">Contact Us</a>
					</div>
					<div class="topnav-right">
						<a href="">Sign Out</a>
					</div>
			</header>
		</nav>
			
		<div class="sidenav">
			<img src="images/f.png" alt="Profile Picture" width="240" height="240">
			<ul class="alt">
				<li><b>RAMIREZ, JANINE B.</b></li>
				<li>15-027-036 </li>
			</ul>			
			<ul class="alt">
				<li><a href="stud_dashboard.html">Dashboard</a></li>
				<li><a class="active" href="stud_classes1.html">Classes</a></li>
				<li><a href="#">Discussions</a></li>
			</ul>
		</div>
			
<div class="main">
	<div class="inner">
		<header class="special">
			<h2>Classes</h2>
		</header>
		<table>
			<thead>
				<tr>
					<th>Semester</th>
					<th>School Year</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Second Semester</td>
					<td>2017-2018</td>
					<td><a href="view_classes.html"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
				<tr>
					<td>First Semester</td>
					<td>2017-2018</td>
					<td><a href="#"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
				<tr>
					<td>Second Semester</td>
					<td>2016-2017</td>
					<td><a href="#"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
				<tr>
					<td>First Semester</td>
					<td>2016-2017</td>
					<td><a href="#"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
				<tr>
					<td>Second Semester</td>
					<td>2015-2016</td>
					<td><a href="#"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
				<tr>
					<td>First Semester</td>
					<td>2015-2016</td>
					<td><a href="#"><i class="icon fa-folder-open">&nbsp;Open<i></a></td>
				</tr>
			</tbody>
		</table>
</div>
</div>
</div>
</body>
</html>