<!DOCTYPE HTML>

<html>
	<head>
		<title>TUP E-LEARNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body class="is-preload">

		<!-- Header -->
		<nav>
			<header id="header">
				<div class="topnav">
					<a href="home.html">Home</a>
					<a href="">About Us</a>
					<a href="">Contact Us</a>
					</div>
					<div class="topnav-right">
						<a href="">Sign Out</a>
					</div>
			</header>
		</nav>
			
		<div class="sidenav">
			<img src="images/f.png" alt="Profile Picture" width="240" height="240">
			<ul class="alt">
				<li><b>RAMIREZ, JANINE B.</b></li>
				<li>15-027-036 </li>
			</ul>			
			<ul class="alt">
				<li><a href="stud_dashboard.html">Dashboard</a></li>
				<li><a class="active" href="stud_classes1.html">Classes</a></li>
				<li><a href="#">Discussions</a></li>
			</ul>
		</div>
	<div class="main">
	<div class="inner">
	<header class="special">
			<h2>My Classes</h2>
		</header>
		 <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Class Code</th>
                                        <th>Class Description</th>
                                        <th>Professor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>CS321</td>
                                        <td>Web Programming Lec</td>
                                        <td>Butch Bituonan</td>
                                       <td><a href="studlectures.html"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CS321L</td>
                                        <td>Web Programming Lab</td>
                                        <td>Butch Bituonan</td>
                                      <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CS322</td>
                                        <td>Software Engineering Lec</td>
                                        <td>May Garcia</td>
                                         <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CS322L</td>
                                        <td>Software Engineering Lab</td>
                                        <td>May Garcia</td>
                                        <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CS323</td>
                                        <td>Operating Systems Lec</td>
                                        <td>Maricar Francisco</td>
                                      <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CS323L</td>
                                        <td>Operating Systems Lab</td>
                                        <td>Michael Narisma</td>
                                        <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                    <tr>
                                        <td>CSE 2</td>
                                        <td>CS Elective 2</td>
                                        <td>Michael Narisma</td>
                                       <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                     <tr>
                                        <td>CSF 2</td>
                                        <td>Free Elective 2</td>
                                        <td>Ernita Calayag</td>
                                         <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                     <tr>
                                        <td>MGMT 3</td>
                                        <td>Human Resource Management</td>
                                        <td>Rosemarie Theresa Cruz</td>
                                        <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                     <tr>
                                        <td>SS 3</td>
                                        <td>Economics with Land Reform and Taxation</td>
                                        <td>Ma. Narlyn Eusores</td>
                                        <td><a href="#"><i class="fa fa-eye"> View<i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
		</div>
		</div>
	</div>
</body>
</html>