<!DOCTYPE HTML>
<head>
		<title>TUP E-LEARNING</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	
	<body class="is-preload">

		<!-- Header -->
		<nav>
			<header id="header">
				<div class="topnav">
					<a href="home.html">Home</a>
					<a href="">About Us</a>
					<a href="">Contact Us</a>
					</div>
					<div class="topnav-right">
						<a href="home.html">Sign Out</a>
					</div>
			</header>
		</nav>
			
			<div class="sidenav">
			<img src="images/f.png" alt="Profile Picture" width="240" height="240">
			<ul class="alt">
				<li><b>Someone</b></li>
				<li>12345</li>
			</ul>	
						
			<ul class="alt">
				<li><a href="admin_dashboard.html">Dashboard</a></li>
				<li><a class="active" href="admin_manage.html">Class Management</a></li>
			</ul>
			</div>
			</section>
			</div>	
			<div class="main">
			<div class="inner">
				<header class="special">
					<h2>Students</h2>
						<ul class="alt">
							<li>School Year 2017-2018</li>
							<li>Second Semester</li>
						</ul>
				</header>
				<div class="content">
					<div class="highlights">
					<section>
					<div class="col-6 col-12-xsmall">
						<ul class="actions">
						<li><input type="text" name="search" id="search" placeholder="Search . . ."/></li>
						<li><a href="#" class="button primary">Search</a></li>
						</ul>
					</div>
					</section>
					</div>
					<div class="highlights">
					<section>
						<ul class="actions">
						<li><div class="col-4 col-12-small">
												<input type="radio" id="stud_sec" name="radio">
												<label for="stud_sec">By Section</label>
						</div></li>
						<li><div class="col-4 col-12-small">
												<input type="radio" id="stud_id" name="radio">
												<label for="stud_id">By ID</label>
						</div></li>
						</ul>
					</section>
				</div>
					<div class="table-wrapper">
					<table>
						<thead>
							<tr>
								<th>ID No.</th>
								<th>Name</th>
								<th>Course</th>
								<th>Section</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>15-027-001</td>
								<td>Dela Cruz, Juan A.</td>
								<td>BS in Computer Science</td>
								<td>4B</td>
							</tr>
								<tr>
								<td>15-027-002</td>
								<td>Doe, John C.</td>
								<td>BS in Computer Science</td>
								<td>4B</td>
							</tr>
								<tr>
								<td>15-027-003</td>
								<td>Smith, John G.</td>
								<td>BS in Computer Science</td>
								<td>4B</td>
							</tr>
						</tbody>
					</table>
					</div>
				<div class="highlights">
					<section>
						<a href="#" class="button primary">Add to Class</a>
					</section>
				</div>
		</div>
		</div>
</body>
</html>