<html>
<head>
    <title>My page</title>
    <link rel="stylesheet" type="text/css" href="assets/css/content-tools.min.css">
    
    <style>
        .author {
            font-style: italic;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div data-editable data-name="main-content">
    <blockquote>
        Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
    </blockquote>
    <p>John F. Woods</p>
</div>
<div data-editable data-name=heading>
    <h1>Content</h1>
</div>
    <script src="assets/images/content-tools.min.js"></script>
    <script src="assets/js/editor.js"></script>
</body>
</html>